.skills {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    text-align:center
}
li {
    padding:0;
    margin: 0;
}
.resumeLink {
    text-decoration: none;
    color: rgb(202, 131, 0);
    
    padding: 4px;
    margin: 10px;
}

.resumeLink:hover {
    border-bottom: 1px solid rgb(75, 38, 9) ;
    color: rgb(145, 94, 0);
}

h2 {
    padding-top: 10px;
}