.skills {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    text-align:center
}
li {
    padding:0;
    margin: 0;
}
a {
    text-decoration: none;
    color: rgb(75, 38, 9);
    
    padding: 4px;
    margin: 10px;
}

a:hover {
    border-bottom: 1px solid rgb(75, 38, 9) ;
    color: rgb(75, 38, 9);
}

h2 {
    padding-top: 10px;
}