.NavbarItems{
    background: rgba(0, 0, 0, 0.45);

    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}


.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.navbar-name {
    color: #fff;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white ;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}


@media (max-width: 768px) {
 
    /* NAVBAR */
    
    .toggle-button{
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }

    .NavbarItems {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-menu {
        width: 100%;
        flex-direction: column;
    }

    .nav-menu li {
        text-align: center;
    }

    .nav-links li a {
        padding: .5rem 1rem;
    }

    .nav-links.active{
        display: flex;
    }

 
}   
    
