

.NavbarItems{
    background: rgba(0, 0, 0, 0.45);

    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}


.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.navbar-name {
    color: #fff;
}


.navbar-links {
    height: 100%;
    
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    color: white;
}

.navbar-links li a {
    display: block;
    text-decoration: none;

    padding: 1rem;
}

.nav-links {
    color: white;
}

.Active {
    color:orange
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.navbar-links li a:hover {
    color: orange;
    
    transition: all 0.2s ease-out;
}




@media (max-width: 768px) {
 
    /* NAVBAR */
    .NavbarItems {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .mobile-links {
        display: flex;
        width: 100%;
        
    }

    .mobile-links ul {
        width: 100%;
        list-style-type: none;
    }

    .mobile-links ul li {
        text-align: center;
    }
 
    .mobile-links li a:hover {
        color: orange;
        
        transition: all 0.2s ease-out;
    }
}   
    
